%h1 Edit your profile

#border-enclosed.short-input
	= form_for :user, :url => profile_url, :method => :put, :html => {:class => "form form-inline"} do |f|
		= render "shared/errors", :object => @user, :message => "Your profile cannot be saved due to the following reasons"
		.field
			= f.label :first_name, "First Name"
			%br= f.text_field :first_name
		.field
			= f.label :last_name, "Last Name"
			%br= f.text_field :last_name
		.field
			= f.label :password
			%br= f.password_field :password
		.field
			= f.label :password_confirmation, "Repeat Password"
			%br= f.password_field :password_confirmation
		
		.actions
			= f.submit "Update my profile", :class => "btn"